<section class="promo">
  <div class="promo__wrapper">
    <ul class="promo__grid">
      <% @promos.each_with_index do |promo, index| %>
        <li class="promo__card promo__card_<%= index+1 %>" style="background-image: url('images/promo/<%= promo[:image] %>');">
          <h2 class="promo__card-title">
            <%= promo[:title] %>
          </h2>
          <p class="promo__swiper-txt swiper-no-swiping">
          </p>
          <%= link_to 'To catalogue', books_path, class: 'promo__link button button_white' %>
        </li>
      <% end %>
    </ul>
  </div>
</section>