<style>
    .promo__grid {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 500px;
        grid-template-areas: "first second second""third third fourth""fifth sixth sixth";
        gap: 20px;
        justify-items: center
    }

    @media screen and (max-width:1439px) {
        .promo__grid {
            grid-auto-rows: 435px
        }
    }
    @media screen and (max-width: 1023px) {
        .promo__card {
            padding: 13px 15px;
        }
    }
    @media screen and (max-width: 767px) {
        .promo__grid {
            grid-template-columns: 1fr;
            grid-template-areas:
        "first"
        "second"
        "third"
        "fourth"
        "fifth"
        "sixth";
            grid-template-rows: repeat(5, 338px) 417px;
        }
    }
    .promo__card {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 30px 25px;
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-color: rgba(0, 0, 0, .55);
        color: #fff;
        background-blend-mode: multiply;
    }
</style>

<section class="promo">
  <div class="promo__wrapper">
    <ul class="promo__grid">

      <li class="promo__card promo__card promo__card_1" style=" background-image: url('https://bookhub.com.ua/image/catalog/categoryua/5031dc48efa806ccc0b7397bf4c3f19f10.png') ; ">
        <h2 class="promo__card-title">
          Езотерика і нумирология        </h2>
        <p class="promo__swiper-txt swiper-no-swiping">
        </p>
        <a href="езотерика-і-нумирология/" class="promo__link button button_white">До каталогу</a>
      </li>
      <li class="promo__card promo__card promo__card_2" style=" background-image: url('https://bookhub.com.ua/image/catalog/categoryua/5031dc48efa806ccc0b7397bf4c3f19f10.png'); ">
        <h2 class="promo__card-title">
          Книги українською мовою        </h2>
        <p class="promo__swiper-txt swiper-no-swiping">
        </p>
        <a href="книги-українською-мовою/" class="promo__link button button_white">До каталогу</a>
      </li>
      <li class="promo__card promo__card promo__card_3" style=" background-image: url('https://bookhub.com.ua/image/catalog/categoryua/5031dc48efa806ccc0b7397bf4c3f19f10.png'); ">
        <h2 class="promo__card-title">
          Психологія та відносини        </h2>
        <p class="promo__swiper-txt swiper-no-swiping">
        </p>
        <a href="психологія-і-відносини/" class="promo__link button button_white">До каталогу</a>
      </li>
      <li class="promo__card promo__card promo__card_4" style=" background-image: url('https://bookhub.com.ua/image/catalog/categoryua/5031dc48efa806ccc0b7397bf4c3f19f10.png'); ">
        <h2 class="promo__card-title">
          Бізнес книги        </h2>
        <p class="promo__swiper-txt swiper-no-swiping">
        </p>
        <a href="busines" class="promo__link button button_white">До каталогу</a>
      </li>
      <li class="promo__card promo__card promo__card_5" style=" background-image: url('https://bookhub.com.ua/image/catalog/categoryua/5031dc48efa806ccc0b7397bf4c3f19f10.png'); ">
        <h2 class="promo__card-title">
          Художня література        </h2>
        <p class="promo__swiper-txt swiper-no-swiping">
        </p>
        <a href="художня-література/" class="promo__link button button_white">До каталогу</a>
      </li>
      <li class="promo__card promo__card promo__card_6" style=" background-image: url('https://bookhub.com.ua/image/catalog/categoryua/5031dc48efa806ccc0b7397bf4c3f19f10.png'); ">
        <h2 class="promo__card-title">
          Книги для батьків        </h2>
        <p class="promo__swiper-txt swiper-no-swiping">
        </p>
        <a href="книги-для-батьків/" class="promo__link button button_white">До каталогу</a>
      </li>

      <li class="promo__card promo__card_8 promo__card_7">
        <form class="promo__form">
          <h2 class="promo__card-title promo__card-title_form">
            Ми допоможемо вам обрати книжку          </h2>
          <p class="promo__txt">
            Маєте проблеми з вибором книжки? <br>Ми надамо консультацію абсолютно БЕЗКОШТОВНО!          </p>

          <a onclick="get_modal_callbacking();" class="promo__submit button button_white">Зворотній звʼязок</a>
        </form>
        <img src="boks.webp" alt="Фото букета" class="promo__form-img">
      </li>
    </ul>
  </div>
</section>