<div class="container mt-5">
  <h4 class="mb-4">Book history</h4>
  <ul class="timeline">
    <% book.histories.last(5).each do |history| %>
      <li class="timeline-item">
        <span class="timeline-date">
          <%= time_ago_in_words history.taken_at%> ago
        </span>
        <div class="timeline-content">
          <% if history.returned_at.present? %>
            <h5>Book returned </h5>
          <% else %>
            <h5>Book taken</h5>
          <% end %>
          <p>By: <strong><%= history.user.username %></strong></p>
        </div>
      </li>
    <% end %>
  </ul>
</div>