

<div class="custom-modal hidden-modal">
  <div class="modal-top">
    <button class="modal-btn-close">⨉</button>
  </div>
  <div class="custom-modal-content">
    <%= render partial: "layouts/rating", locals: {book: book} %>
  </div>
</div>

<div class="overlay hidden-modal"></div>

<%= javascript_import_module_tag "views/modal" %>