<div class="card-container mt-2 rounded">
  <% books.each do |book| %>
    <div class="card-item">
      <%= link_to book_path(book), class: "card-link" do %>
        <div class="card-image">
          <%= image_tag book.image.url, alt: book.name, class: "card-img" %>
          <div class="chapter-overlay">
            <span>By:  <%= book.author_name %></span>
          </div>
        </div>
        <div class="card-title">
          <%= book.name.truncate(25) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>