<!--<div class="search-container mb-4">-->
  <%#= search_form_for @q, url: books_path, method: :get, html: { class: "form-inline" } do |f| %>
<!--    <div class="form-group mr-2">-->
      <%#= f.search_field :name_cont, placeholder: "Название книги", class: "form-control" %>
<!--    </div>-->
<!--    <div class="form-group mr-2">-->
      <%#= f.search_field :author_name_cont, placeholder: "Автор", class: "form-control" %>
<!--    </div>-->
<!--    <div class="form-group">-->
      <%#= f.submit "Поиск", class: "btn btn-primary" %>
<!--    </div>-->
  <%# end %>
<!--</div>-->

<section class="popular mt-2">
  <h2>Popular books</h2>
  <%= render partial: 'top_books', locals: {books:@top_books} %>
</section>
<section class="newest mt-2 mb-5">
  <h2>Newest</h2>
  <%= render partial: 'newest', locals: { books: @books.order({ created_at: :desc }).limit(4) } %>
</section>
<section class="books">
  <h2>Books</h2>
  <div class="d-flex justify-content-end mb-3">
    <%= link_to 'Add New Book', new_book_path, class: 'btn btn-primary' %>
  </div>
  <%= render partial: 'all_books', locals: { books: @books } %>
</section>
