<div class="card-wrapper">
  <% if @book.image.present? %>
    <aside class="card-aside">
      <div class="book-image mt-3">
        <%= image_tag @book.image.url, alt: @book.name, class: "img-thumbnail" %>
      </div>
    </aside>
  <% end %>
  <div class="card-main">
    <h2> <%= @book.name %></h2>
    <div class="card-info">
      <div class="card-tabs">
        <%= render partial: "tabs", locals: { book: @book }%>
      </div>
    </div>
  </div>
</div>
