.card-wrapper{
  display: flex;
  gap: 30px;
}
.card-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.card-wrapper > *{
}
.card-aside{
  flex: 0 0 auto;
}
.card-main{
  flex: 1 1 auto;
}
.card-info, .card-body{
  background-color: var(--secondary-bg-color);
  padding: 10px;

}
.card-info{
  border-radius: 12px;
}
.card-tabs{

}
.card-text{
  display: inline-block;
  flex-wrap: wrap;
  text-wrap: wrap;
}
.card-description{
  white-space: pre-line
}
.card-item{
  flex-shrink: 0;
}